.wp-block-cyrilgouv-expanding-cards {

    .block-editor-inner-blocks {
        .block-editor-block-list__layout {
            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            column-gap: .5rem;

            .wp-block-image {
                min-width: 100%;
                min-height: 100%;
                overflow: hidden;

                .components-resizable-box__container {
                    aspect-ratio: 1 / 1;

                    img {
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    &.hasBorderRadius .preview-mode .wp-block-image img,
    &.hasBorderRadius .block-editor-inner-blocks .block-editor-block-list__layout .wp-block-image .components-resizable-box__container img {
        border-radius: 50px;
    }

    .preview-mode {
        display: flex;

        .wp-block-image {
            flex: .5;
            transition: flex .375s ease-in;
            height: 20vw;
            cursor: pointer;
    
            &.isActive {
                flex: var(--columns);
            }
    
            img {
                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}