.wp-block-cyrilgouv-expanding-cards {

    .block-editor-inner-blocks {
        .block-editor-block-list__layout {
            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            column-gap: .5rem;

            .wp-block-image {
                min-width: 100%;
                min-height: 100%;
                overflow: hidden;

                .components-resizable-box__container {
                    aspect-ratio: 1 / 1;

                    img {
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .cg-expanding-cards__add {
        margin-left: 2rem;

        button {
            background-color: lightgray;
            cursor: pointer;
            border-radius: 2px;
            box-shadow: none;
            border: none;
        }
    }
}